body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

header {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.logo span {
    color: #ffcc00;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #ffcc00;
}

.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, black, #222);
    text-align: center;
}

.hero h1 {
    font-size: 48px;
}

.btn {
    background: #ffcc00;
    color: black;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.content {
    padding: 60px 40px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #222;
    padding: 25px;
    width: 220px;
    border: 2px solid #ffcc00;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border: 3px solid #ffcc00;
}

footer {
    background: black;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
